<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie info", edit_movie_path(@movie) %> |
  <%= link_to "Back to all movies", movies_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
